In [1]:
# -*- coding: utf-8 -*-

import pandas as pd 

# 딕셔너리 정의
dict_data = {'c0' : [1, 2, 3],
'c1' : [4, 5, 6],
'c2' : [7, 8, 9],
'c3' : [10, 11, 12],
'c4' : [13, 14, 15]}

In [3]:
# 딕셔너리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2로 지정]
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [4]:
# 인덱스를 [r0, r1, r2, r3, r4]로 재지정
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index) # NaN값이 존재하면 왜 나머지 값들도 float로 바뀌는가??, --> 아마도 NaN이 float값으로 간주되기 때문! float이 하나라도 있으면 나머지도 전부 float으로 표기되니까!
print(ndf)

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [5]:
# reindex로 발생한 NaN 값을 숫자 0으로 채우기
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf2 = df.reindex(new_index, fill_value=0)
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0